@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 

 font-family: 'Noto Sans KR', sans-serif;
}
.body{
    text-align: center;
}
.Box_L{
    color: white;
    background-color:  #1b4542;
    border-radius: 20px;
    width: 85%;
    height: 200px;
}
.Box_M{
    color: white;
    background-color:  #1b4542;
    border-radius: 90px;
    width: 85%;
    height: 150px;
    text-align: center;

}
.Box_S{
    background-color:  #1b4542;

    border-radius: 70px;
    width: 100%;
    height: 100px;
    text-align: center;
}

.Btn_L{

  width: 90px;
  height: 40px;
  border-radius: 15px;
  background-color: #1b4542;

}
.Btn_M{
  width: 70px;
  height: 35px;

  border-radius: 15px;
  background-color: #1b4542;    

}
.Btn_S{
  width: 50px;
  height: 30px; 
  border-radius: 15px;

  background-color: #1b4542;

}
