.title {
    background-color: var(--color-green);
    color: var(--color-white);
    
}

.link {
    text-decoration: none;
    color: var(--color-black);
    margin: auto;
}
.link:hover {
    color: black;
} 

.box { 
    border: solid 1px ;
    border-radius: 14px;
    margin: 24px 16px;
    padding: 12px 12px;
    
}

.box2 {
    display: flex;
    justify-content: space-between;
    
}



