.title {
    border: 1px solid black;
    margin: 16px 24px; 
}

.title h2 {
    font-weight: 700;    
}

.title p {
    font-size: medium;
    font-weight: 500;
}

.mapbox {
    border: 1px solid black;
    height: 45%;
}