.link {
    text-decoration: none;
    color: var(--color-black);
    margin: auto;
  }
  .link:hover {
    color: black;
  }
  .btn__box {
    display: flex;
    justify-content: space-evenly;
    margin: 16px;
  } 
  
  
  .btn { 
    padding: 5px;  
    border: solid var(--color-green);
    border-radius: var(--size-border-radius);
    background-color: var(--color-green);
    color: var(--color-white);
    font-size: var(--font-medium);
    font-weight: var(--weight-bold);
  }
  
  
  .container{  
    display: flex;
    flex-wrap: wrap;
    
  } 

  .category__box { 
    border: solid 1px var(--color-green);
    border-radius: var(--size-border-radius);
    padding: 2px;
    margin: 8px 4px;
    flex-grow: 1; 
    flex-shrink: 1; 
    height: 65px;
    width: 90px;  
    display: flex;
    align-items: center; 
    text-align: center;  
  }
.text { 
    font-size: small;
    font-weight: 700;
    margin: auto;
  }

.img {
    height: 25px;
    width: 30px;
    
  }