.first_box ul {margin: 0; padding: 0;}
.first_box ul li.f_title { font-size: 16px; font-weight: bold; padding: 10px 0;}
.first_box ul li.bold {font-weight: bold; font-size: 14px;}
.font_plus {position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.desc_box {margin-top: 10px;}

.health_box {background: #eff0f4 ; position: absolute; top: 0; left: 0; width: 100%; height: 844px; padding: 0 24px;}
.height_box {
    margin-top: 20px; width: 100%;
    background: #fff; padding: 10px 15px;
    border-radius: 15px;
}
.height_box .health_date {font-size: 18px;}
.height_box .height_desc {font-size: 18px; font-weight: bold; margin-bottom: 5px;}
.height_img_box {float: right; }
.height_img_box .height_img {width: 120px; height: 110px; margin-right: 5px;}
.height_img_box .weight_img {width: 100px; margin-right: 10px; margin-top: 0px;}
.height_box .health_temp_name {font-size: 18px;}
.height_img_box .temp_img {width: 70px; height: 80px; margin-right: 15px; margin-top: 7px;}