.container {
    background-color: lightgray;
    height: 400px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.title {
    margin: 24px 6px;
    padding: 4px 2px;
    font-weight: 700;
    font-size: xx-large;
}


.box {
    text-align: center;
    background-color: white;
    padding: 25px 40px;
    margin: 20px;
    border-radius: 16px;
    
} 



.box h2 {
    font-size: medium;
    font-weight: 600;
}
.box h4, p { 
    font-size: smaller;
    font-weight: 400;
    margin: 2px;
} 





.btn {
    margin-top: 10px;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 12px;
    background-color: var(--color-green);
    text-align: center;
    font-size: small;
    font-weight: 500;
}

.btn:hover {
    transform:  scale(1.2);
    transition: all 300ms ease;
}

