/*복약관리 페이지 css파일 (서아)
base module의 버튼 디자인 및 색상값과 최대한 맞춰서 작성*/
.med-form {
    margin: 45px 50px;
}

.alarm {
    margin: 2px 6px;
    padding: 25px 10px;
    border: 2px solid #1b4542b6;
    border-radius: 8px;
}
.addMed-btn {
    position:relative;
    float: right;
    color: white;
    background-color: #1b4542;
    border-radius: 50px;
    padding: 5px 10px;
    margin-left: 50px;
    margin-top: 0;
}
.confirm { color:#1b4542; }

.input-form {
    border: 3px solid #1b4542;
    border-radius: 12px;
    padding: 15px 20px;
}

.med-input {
    border: 1px solid lightgray;
    border-radius: 12px;
    max-width: 50px;
}
.intro-ment {
    text-align: center;
}


.goback {
    position: absolute; top: 0; left: 10px; color: #ccc; font-size: 20px;
}
