/* 마이페이지 > 고객센터
* 모양만 있는 버튼 디자인 형태만 구현*/
.Btn_L_G {
    width: 80%;
    height: 50px;
    margin: 8px 6px;
    border-radius: 10px;
    text-align: center;
    color: #000;
    background-color: #ddd;
}
.Btn_L_G > p {
    padding-top: 12px;
}
.Btn_L_G > button {
    padding-top: 12px;
}

.mypage_name {font-size: 26px; margin-left: 20px; display: inline-block; margin-top: 10px;}

.Mypage_first {}

/*로그아웃버튼 커스텀*/
.Btn_L_G_2 {
    width: 80px; height: 40px;
    border-radius: 10px;
    margin-top: 12px;
    margin-right: 6px;
    float: right;
    text-align: center;
    color: #000;
    background-color: #ddd;
}

