/* 마이페이지 > 고객센터
* 모양만 있는 버튼 디자인 형태만 구현*/
.Btn_L_G {
    width: 80%;
    height: 50px;
    margin: 8px 6px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: #1b4542;
}
.Btn_L_G > p {
    padding-top: 12px;
}
.Btn_L_G > button {
    padding-top: 12px;
}

.Mypage_first ul {margin-top: 20px; padding: 0; text-align: center;}
.mypage_name {font-size: 26px; display: inline-block; }
.mypage_email {font-size: 16px; color: #ccc; margin-bottom: 10px;}
.Mypage_first ul li ul.mylist {display: inline-block; margin-right: 15px;}
.Mypage_first ul li ul.mylist li {
    float: left; margin-top: 20px; position: relative; 
}
.Mypage_first ul li ul.mylist li a.mypage_num {position: absolute; top: -35px; left: 30px; font-weight: bold; font-size: 30px; color: #000; padding: 0;}
.Mypage_first ul li ul.mylist li a {
    color: #000; display: inline-block; font-size: 20px; padding : 10px 20px;
}


/*로그아웃버튼 커스텀*/
.Btn_L_G_2 {
    width: 80px; height: 40px;
    border-radius: 10px;
    margin-top: 12px;
    margin-right: 6px;
    float: right;
    text-align: center;
    color: #fff;
    background-color: #1b4542;
}

.userimg_box {width: 150px; height: 150px; border-radius: 0%; overflow: hidden; position: relative; display: inline-block;}
.userimg {width: 150px; height: 150px; object-fit: cover; }

