.box3 {
    text-align: center;
    
}

.box3 h1{
    font-size: large;
    font-weight: 700;
    margin: 16px;
}
.box3 h2 {
    font-size: medium;
    font-weight: 600;
}
.box3 h4, p {
    font-size: smaller;
    font-weight: 400;
    margin: 2px;
}

