.nav {width: 390px;  border-bottom: 1px solid #ccc; margin-top: 10px;}
.nav .nav_box {margin-left: 20px;}
.nav .nav_box button {float: left;display: block; padding: 10px; font-size: 16px; color: #ccc; width: 70px;
background: #fff;}
.nav .nav_box button.active {color: #000;}
a { text-decoration: none !important;}
dl,ul,li,ol,menu {list-style: none;}
button {border: 0;}

.footer {
    position: fixed;
    text-align: center;
    padding-top: 14px;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #ddd;
}
