header {width: 360px;  position: relative;}
header .header {padding-top: 30px; padding-left: 12px;}
header .infant_img {float: left; width: 70px; height: 70px; border-radius: 70%; overflow: hidden; }
header .infant_img img {width: 100%; height: 100%; object-fit: cover;}
header h1 {float: left; padding: 20px 0 0 17px; font-weight: bold; font-size: 20px;}
.logout {position: absolute; top: 0; left: 0px;}