body {
  text-align: center !important;
  height: 100vh;
}

  /* Global */ 

  :root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-green: #1b4542;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-orange: #feb546;
    --color-black: #000000;


    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px; 
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */
    --size-border-radius : 16px;
}
 









