@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
font-family: 'Noto Sans KR', sans-serif;
}

 /* Global */
:root {
  /* 변수선언 : --변수명:  */

  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd; 
  --color-green: #1b4542;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-orange: #feb546;
  --color-black: #000000;
  

  /* Font size */
  --font-large: 52px;
  --font-medium: 30px;
  --font-regular: 20px; 
  --font-small: 18px;
  --font-micro: 16px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius : 16px;
}

/* Typography */
/* 사용법: var(변수이름) */


body {
  height: 100vh;
  font-family: 'Noto Sans KR' !important;
  height: 100vh;
  max-width: 420px; 
  margin: 0;
  cursor: default;
  text-align: center;
}



.Search_box{
  height: 100px;
  border-radius:6px;
  border: 2px solid black;
  margin-top: 20px;
}

.Temperature{
  height: x;
  border-radius:6px;
  border: 2px solid black;
}

.Questionnaire{
  height: 100px;
  border-radius:6px;
  border: 2px solid black;
}

.Reserve{
  height: 100px;
  border-radius:6px;
  border: 2px solid black;
}

.Search_near{
  height: 100px;
  border-radius:6px;
  border: 2px solid black;
}

.Reserve_box{
  height: 100px;
  border-radius:6px;
  border: 2px solid black;
}

.Mypage_first{
  height: 150px;
  border-radius:6px;
  border: 2px solid black;
}
.Mypage_second{
  height: 150px;
  border-radius:6px;
  border: 2px solid black;
}
.Mypage_third{
  height: 150px;
  border-radius:6px;
  border: 2px solid black;
}
.Mypage_forth{
  height: 200px;
  border-radius:6px;
  border: 2px solid black;
}